@import "tailwindcss";

@layer utilities {
    :root {
        --background: #0d0d0d;
        --foreground: #ffffff;
    }
}

@theme {
    --color-purple: #7650ff;
    --color-purple-border: #5d3dd1;
    --color-gray: #1e1e1e;
    --color-gray-border: #363636;
}

@utility content-container {
    display: grid;
    grid-template-columns: auto clamp(300px, 100%, 1100px) auto;

    & > * {
        grid-column-start: 2;
        grid-column-end: 2;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
    letter-spacing: -0.5%;
    line-height: 91.5%;
    font-weight: 500;
}

/* 
h1 {
    font-size: 64px;
    letter-spacing: -0.5%;
    line-height: 91.5%;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    letter-spacing: -0.5%;
    line-height: 91.5%;
    font-weight: 700;
}

h3 {
    font-size: 32px;
    letter-spacing: -0.5%;
    line-height: 91.5%;
    font-weight: 500;
}

p {
    font-size: 16px;
    letter-spacing: 4%;
    line-height: 130%;
    font-weight: 500;
}

p.font-bold,
p em {
    letter-spacing: -1%;
    font-weight: 700;
}

small {
    font-size: 14px;
    letter-spacing: 3%;
    line-height: 130%;
    font-weight: 400;
}

small.font-bold,
small em {
    letter-spacing: -2%;
    font-weight: 500; 
}*/

@media screen and (min-width: 1024px) {
    p {
        letter-spacing: 4%;
        line-height: 130%;
    }
}
